/* @Poppins font  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
*::before,
*::after {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

:root {
    scroll-behavior: smooth;
    /* colors  */
    --light: #ffffff;
    --blue: #0074FA;
    --red: #FD3E26;
    
    /* font  */
    --font-poppins: "Poppins", sans-serif;

    /* shadows  */
    --shadow-sm: 0 3.5px 5px rgba(128, 128, 128, 0.204);
}


body {
    height: 200vh;
}




.chat-container {
    position: fixed;
    bottom: 120px;
    right: 30px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: var(--blue);
    display: flex;
    align-items: center;
    color: white;
    font-size: 20px;
    justify-content: center;
    font-family: var(--font-poppins);
    font-size: 16px;
}


.chat-container > input[type="checkbox"] {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
}



.chat-container  > .popup {
    position: absolute;
    height: 400px;
    width: 300px;
    background-color: rgb(255, 0, 174);
    top: -400px;
    right: 100%;
    border-radius: 24px;
    display: none;
    
}

.chat-container > input[type="checkbox"]:checked + .popup {
    display: block;
}



.scroll-top {
    display: block;
    position: fixed;
    height: 40px;
    width: 24px;
    border: 1px solid black;
    bottom: 20px;
    right: 30px;
    z-index: 1000;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    padding: 5px 0;
}

.scroll-top > .blink {
    position: absolute;
    top: -70%;
    color: black;
    animation: blink 800ms linear infinite;
    
}

@keyframes blink {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
    
}


.scroll-top > .rotate {
    display: block;

    width: 1px;
    background-color: black;
    height: 6px;
    position: absolute;

    animation: rotate 1.5s linear infinite;
}

@keyframes rotate {
    0%, 100% {
        top: 6px;
    }

    50% {
        top: 2px;
    }
}


.chat-container > .message {
    position: absolute;
    width: 190px;
    z-index: 100;
    padding: 10px 15px;
    background-color: #ffffff;
    color: black;
    right: 110%;
    border-radius: 25px 10px 25px 25px;
    box-shadow: 0 0 3px #6d6d6d44;
}

header {
    width: 100vw;
    /* position: sticky; */
    top: 0;
    box-shadow: var(--shadow-sm);
    background-color: var(--light);
}



header > .navigation {
    display: flex;
    width: 100vw;
    height: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

.menu, .logo, .collapse {
    flex-grow: 1;
}

.menu > li {
    display: inline-block;
    padding: 13px 15px;
    font-family: var(--font-poppins);
    font-weight: 500;
    font-size: 16px;

}

.menu > li:hover {
    background-color: rgba(0, 0, 0, 0.08);
    transition: all 250ms ease;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 13px 15px;
}

.logo > img {
    width: 150px;
}

.menu {
    /* display: none; */
    position: absolute;
    background-color: rgba(255, 255, 255, 0.754);
    backdrop-filter: blur(2px);
    left: 0;
    height: 100vh;
    width: 0vw;
    transition: all 400ms;
    overflow: hidden;
}

.menu > li {
    display: block;
    font-size: 24px;
}


.bar {
    display: flex;
    align-items: center;
    font-size: 24px;
}

.bar:active + .menu {
    width: 100vw;
}

@media (min-width: 1180px) {
    .bar {
        display: none;
        background-color: red;
    }

    .menu {

        position: static;
        width: fit-content;
        height: fit-content;
        overflow: visible;
        background-color: orange;
        

    }

    .menu> li {
        display: inline-block;
        font-size: 16px;
    }

    header > .navigation {
        width: 80vw;
    }


    .menu > li > .dropdown {
        height: 0px;
        width: 100vw;
        background-color: rgb(12, 12, 12);
        position: absolute;
        top: 100%;
        transition: all 0.3s;
        left: -11.6vw;
    }


    .menu > li:hover > .dropdown {
        height: 400px;
    }

}